
.imagem_abertura{
    width: 100%;
    height: 500px;
    background-image: url('../img/img_abertura.jpg');
    background-size: 100% 500px;
}
.abertura_logo_text{
    position: absolute;
    padding: 25px;
    background-color: rgba(0, 0, 0, 0.158);
    width: 20%;
    text-align: center;
    border: 7px double rgba(5, 134, 255, 0.5);
    margin-top: 15%;
    margin-left: 38%;
/*----------------------------------------*/
    font-family: 'titulo', Arial, monospace;
    font-size: 180%;
    color: rgb(253, 102, 2);
}


.decoracao:hover{
    text-decoration: none;
    color: rgb(97, 97, 97);
}
.barra_acesso{
    background-color: rgba(146, 197, 255, 0.9);
    width: auto;
    display: inline-block;
    padding: 5px;
    font-size: 125%;
    border-radius: 6px;
    font-family: 'comum_persona', Courier, monospace; 
    box-shadow:  inset 0 0 2px #000000;
    margin-left: 38%;   
    margin-top: 485px;
}

.main{
    width: 70%;
    margin-top: 3%; 
    font-family: 'Persona3', Courier, monospace;
}
.re_fantasy{
    position: relative;
    background-color: rgba(252, 19, 19, 0.616);
    border: 5px solid #3a11ce;
    border-radius: 10px;
    height: 100%;
    text-align: center;
    float: left;
    text-shadow: 1px 1px rgb(60, 0, 129);
}
#re_fantasy_img{
    width: 80%;
}
.text{
    padding: 30px;
    text-align: justify;
    font-size: 20px;

}
.lateral_acesso{
    position: absolute;
    border: 5px double rgba(255, 0, 0, 0.781);
    border-radius: 15px;
    width: 27%;
    padding: 3px;
    margin-left: 71.5%;
    height: 1000px;
    background-color: rgba(23, 0, 124, 0.425);
    text-align: center;
    text-shadow: 1px 1px rgb(166, 99, 243);
}
#test_img_lateral{
    width: 100%;
    border-radius: 5px;
}

.btn_main{
    font-size: 20px;
    width: 90%;
    margin-left: 2.5%;
    border-radius: 10px;
    background-color: rgb(245, 241, 225);
    padding: 10px;
}