body{
    background-image: url(../img/Persona_Login.jpg);
    background-size: 100% 100%;
}
.logar{
    background-color: rgba(2, 142, 223, 0.616);
    width: 30%;
    padding: 10px;
    border-radius: 10px;
    margin-top: 5%;
    margin-left: 14%;
    font-family: 'persona_titulo', Courier, monospace;
}
.logar label{
    font-size: 25px;
    text-shadow: 2px 2px rgb(166, 99, 243);
}
.logar h1{
    text-shadow: 2px 2px rgb(166, 99, 243);
}
