table{
  text-align: center;
}
td {
  background-color: rgba(0, 147, 233, 0.747); ;
  font-family: 'padrao', Courier, monospace;
  width: 10%;
  font-size: 30px;
  text-align: center;
  z-index: -1;
}

.cabecario th {
  font-family: 'padrao', Courier, monospace;
  font-size: 2em;
  border: 3px solid black;
  z-index: -1;
}

.nome_h{
  background-color: rgba(255, 0, 150, 0.5);
}
.tipo_h{
  background-color: rgba(0, 0, 150, 0.5);
}
.custo_h{
  background-color: rgba(150, 0, 150, 0.5);
}
.rank_h{
  background-color: rgba(50, 50, 150, 0.5);
}
.desc_h{
  background-color: rgba(25, 200, 150, 0.5);
}
